<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Perpustakaan"
        tools:targetApi="31">
        <activity
            android:name=".UserACTIVITY.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".UserACTIVITY.BantuanActivity"
            android:exported="false" />
        <activity
            android:name=".UserACTIVITY.TentangKamiActivity"
            android:exported="false" />
        <activity
            android:name=".UserACTIVITY.UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".daftarbukuActivity.EditDataBukuActivity"
            android:exported="true" />
        <activity
            android:name=".EditDataPinjamActivity"
            android:exported="true" />
        <activity
            android:name=".detailbuku.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".user.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".search"
            android:exported="true" />

        <activity
            android:name=".pinjamActivity.PinjamBukuActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".ViewModel.TentangKamiActivity" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".ViewModel.BantuanActivity" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".ViewModel.ProfileActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".user.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".daftarbukuActivity.DaftarBukuActivity"
            android:exported="true" />
    </application>

</manifest>